<div class="container page-container">
  <section class="w-50 mx-auto shadow rounded p-3 my-3 bg-main-light">
    <form [formGroup]="resetForm" class="" (ngSubmit)="handelReset()">
      <h1>Type New Password</h1>

      <label for="email">Email</label
      ><input
        formControlName="email"
        type="email"
        id="email"
        name="email"
        class="form-control"
        readonly
      />
      <label for="new-password">New Password</label
      ><input
        formControlName="newPassword"
        type="password"
        id="newPassword"
        name="newPassword"
        class="form-control"
      />
      <div>
        <p
          *ngIf="
            form['newPassword'].hasError('required') &&
            (form['newPassword'].touched || form['newPassword'].dirty)
          "
          class="alert alert-danger py-1 mt-1 m-0"
        >
          This field is required
        </p>
        <p
          *ngIf="
            form['newPassword'].hasError('pattern') &&
            (form['newPassword'].touched || form['newPassword'].dirty)
          "
          class="alert alert-danger py-1 mt-1 m-0"
        >
          Must Frist Capital Letar And Small Letter And Number
        </p>
        <p
          *ngIf="
            form['newPassword'].hasError('minlength') &&
            (form['newPassword'].touched || form['newPassword'].dirty)
          "
          class="alert alert-danger py-1 mt-1 m-0"
        >
          min Length is 6
        </p>
      </div>
      <button class="btn main-btn w-100 mt-3" [disabled]="resetForm.invalid">
        <i
          *ngIf="isLoading"
          class="fa fa-spinner fa-spin mx-1"
          aria-hidden="true"
        ></i
        >Change Password
      </button>
    </form>
  </section>
</div>
